* {
  margin: 0;
}

.fisrtbox {
  
  width: 350px;
  margin: 20px;
  padding: 5px;
  border: 1px solid black;
}
.fisrtbox > ul {
  margin-left: 20px;
  list-style-type: none;

}
.text{
  padding: 5px;
}

.listperson {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

